*~
decrypt
encrypt
keygen
Makefile
*.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
configstatus
config.sub
configure
depcomp
missing
.deps
.dirstamp
config.h
*.o
stamp-h1
test-driver
install-sh
config.status
*.gpg
kybertest_decrypt
kybertest_encrypt
kybertest_keygen
*.asc
*.log
gcm_test
*.trs
scratch
